.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f6fa;
  padding: 6rem 3rem;
  border-radius: 10px;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-size: 2.5rem;
  color: var(--text-dark);
}

.hero span {
  color: var(--primary);
}

.hero img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
