:root {
  --color-primary: #0059ff;
  --color-primary-dark: #002855;
  --color-accent: #00c4ff;
  --color-background: #f8faff;
  --color-background-light: #f4f7ff;
  --color-light: #ffffff;
  --color-light-secondary: #dbe9ff;
  --color-dark: #1b1f24;
}
